<h1>{{ service.name }} / {{ package.name }}</h1>
{% if date is null %}
    <p>Abholung: <strong>Individuell vereinbaren</strong></p>
{% else %}
    <p>Abholung: <strong>{{ date.date | date('l, d.m.Y H:i') }}</strong> (Mitarbeiter: {{ date.worker }})</p>
{% endif %}
<p><strong>Features</strong><br>
    {% for feature in package.features %}
            - {{ feature }}<br>
    {% endfor %}
</p>
<br><br>
<h2>Kunde</h2>
<p>{{ contact.salutation }} {{ contact.title }} {{ contact.firstname }} {{ contact.lastname }}</p>
<p>{{ contact.street }} {{ contact.streetNr }}</p>
<p>{{ contact.zip }} {{ contact.city }}</p>
<p>{{ contact.phone }} {{ contact.email }}</p>
<br><br>
<h2>Bestellung</h2>
<p>Bezahlung: {{ payment }}</p>