<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{% block title %}AmtAgenten.de{% endblock %} - Behördengänge erledigen lassen</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Behördengänge, erledigen lassen, machen lassen, Wohnsitz, KFZ-Zulassung, Auto zulassen, online">
    <meta name="description" content="Behördengänge einfach und bequem erledigen lassen. Online in 3 Schritten beauftragen: Abholtermin wählen, Unterlagen übergeben, Dokumente erhalten.">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- animate css -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- google font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>

    <!-- custom css -->
    <link rel="stylesheet" href="/css/templatemo-style.css">

    {% block stylesheets %}{% endblock %}

    {% if app.debug == false %}

        <script type="text/javascript">
            window._mfq = window._mfq || [];
            (function() {
                var mf = document.createElement("script");
                mf.type = "text/javascript"; mf.async = true;
                mf.src = "//cdn.mouseflow.com/projects/b28c81f3-7eec-403b-8134-4a864c0eabd6.js";
                document.getElementsByTagName("head")[0].appendChild(mf);
            })();
        </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-105795334-1', 'auto');
        ga('send', 'pageview');
        // Set to the same value as the web property used on the site
        var gaProperty = 'UA-105795334-1';

        // Disable tracking if the opt-out cookie exists.
        var disableStr = 'ga-disable-' + gaProperty;
        if (document.cookie.indexOf(disableStr + '=true') > -1) {
            window[disableStr] = true;
        }

        // Opt-out function
        function gaOptout() {
            document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
            window[disableStr] = true;
        }

    </script>
    {% endif %}
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/custom.js"></script>
    {% block javascriptsTop %}{% endblock %}

</head>
<body>
<!-- start preloader -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-rotating-plane"></div>
</div>
<!-- end preloader -->
<!-- start navigation -->
<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img src="/images/logo-header.png" style="max-height: 40px;" />
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <form class="nav navbar-nav navbar-right form-group hidden-xs" style="margin-top: 15px;">
                <select id="featureSelector" class="form-control" onchange="selectService('featureSelectBtn', 'featureSelector', true);">
                    <option selected disabled><strong>Unsere Services:</strong></option>
                    <optgroup label="Behördengänge">
                        <option value="wohnsitz-ummelden">Wohnsitz ummelden</option>
                        <option value="ausweis-abholen">Ausweis abholen</option>
                        <option value="parkausweis-beantragen">Parkausweis beantragen</option>
                    </optgroup>
                    <optgroup label="KFZ">
                        <option value="kfz-zulassen">KFZ zulassen</option>
                        <option value="kfz-ummelden">KFZ ummelden</option>
                        <option value="kfz-abmelden">KFZ abmelden</option>
                    </optgroup>
                </select>
            </form>
            <ul class="nav navbar-nav navbar-right text-uppercase">
                {% block navigation %}
                <li><a href="/" class="external">Home</a></li>
                <li><a href="/faq" class="external">Häufige Fragen</a></li>
                <li><a href="/checklisten" class="external">Checklisten</a></li>
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
<footer>
    <div class="container">
        <div class="row">
            <small>
                <a href="/jobs">Jobs</a> | <a href="/agb">AGB</a> | <a href="/datenschutz">Datenschutz</a> | <a href="/impressum">Impressum</a>
            </small>
            <br>
            <small>Alle Preise inkl. 19% MwSt.</small>
            <br>
            <small>Copyright &copy;2017</small>
        </div>
    </div>
</footer>
<!-- end footer -->

{% block javascripts %}{% endblock %}
</body>
</html>
