{% extends 'base.html.twig' %}

{% block body %}
    <section class="mt-40">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 col-main push-lg-3">
                    <p>
                        §1 Geltungsbereich
                    </p>
                    <p>
                        1.1 Diese Allgemeinen Geschäftsbedingungen (nachfolgend „AGB“) der Daniel
                        Reichler Services UG (haftungsbeschränkt), Tetzelgasse 6, 90403
                        Nürnberg (nachfolgend „Anbieter“) gelten für alle zwischen dem Anbieter und
                        einem Verbraucher oder Unternehmer (nachfolgend „Kunde“) über die auf der
                        Website des Anbieters dargestellten Leistungen geschlossenen Verträge.
                    </p>
                    <p>
                        1.2 Der Einbeziehung eigener Bedingungen wird widersprochen. Etwas anderes
                        gilt nur nach vorheriger schriftlicher Vereinbarung.
                    </p>
                    <p>
                        1.3 Verbraucher im Sinne dieser AGB ist jede natürliche Person, die ein
                        Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder ihrer
                        gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet
                        werden können.
                    </p>
                    <p>
                        1.4 Unternehmer im Sinne dieser AGB ist eine natürliche oder juristische
                        Person oder eine rechtsfähige Personengesellschaft, die bei Abschluss eines
                        Rechtsgeschäfts in Ausübung ihrer gewerblichen oder selbständigen
                        beruflichen Tätigkeit handelt.
                    </p>
                    <p>
                        §2 Vertragsgegenstand
                    </p>
                    <p>
                        2.1 Die auf der Website des Anbieters, unter der Domain keinwarten.de
                        beschriebenen und angebotenen Dienstleistungen, deren Umfang auf der
                        Website genau definiert ist, können über die Website beauftragt werden.
                    </p>
                    <p>
                        2.2 Die Auf der Website angebotenen Leistungen sind nicht als verbindliches
                        Angebot des Anbieters zu verstehen, sondern dienen nur der Abgabe eines
                        verbindlichen Angebots durch den Kunden.
                    </p>
                    <p>
                        2.3 Über das auf der Website des Anbieters bereitgestellte Bestellformular
                        kann der Kunde sein Angebot abgeben. Nach Eingabe seiner persönlichen Daten
                        gibt er durch klick auf den den Bestellvorgang abschließenden Button das
                        verbindliche Angebot bzgl. der im Warenkorb enthaltenen Leistungen ab.
                    </p>
                    <p>
                        2.4 Der Anbieter kann das Angebot des Kunden innerhalb von 5 Tagen
                        annehmen, indem er a) dem Kunden eine Auftragsbestätigung per E-Mail
                        übermittelt, insoweit der Zugang beim Kunden maßgeblich ist; b) in dem er
                        den Kunden nach dessen Abgabe der Vertragserklärung zur Zahlung auffordert.
                    </p>
                    <p>
                        2.5 Liegen mehrere vorgenannter Alternativen vor, kommt der Vertrag zu dem
                        Zeitpunkt zustande, zu dem eine Alternative zuerst eintritt. Nimmt der
                        Anbieter das Angebot nicht innerhalb der ihm hier vorgeschriebenen Frist
                        an, so ist der Kunde nicht mehr an sein Angebot gebunden.
                    </p>
                    <p>
                        2.6 Die Frist zur Annahme des Angebotes beginnt am Tag nach der Absendung
                        des Angebotes durch den Kunden und endet am fünften Tag nach der Absendung.
                    </p>
                    <p>
                        2.7 Der Vertragstext wird von dem Anbieter gespeichert und dem Kunden,
                        nebst diesen AGB per E-Mail zugestellt, ist aber nicht mehr über die
                        Website des Anbieters abrufbar.
                    </p>
                    <p>
                        2.8 Vor Absenden des Angebotes kann der Kunde seine Eingaben auf der
                        Bestellseite des Anbieters korrigieren.
                    </p>
                    <p>
                        2.9 Der Vertragsschluss erfolgt ausschließlich in Deutscher Sprache.
                    </p>
                    <p>
                        2.10 Die Kommunikation mit dem Anbieter findet per E-Mail statt. Der Kunde
                        hat die Korrektheit und Erreichbarkeit dieser sicherzustellen.
                    </p>
                    <p>
                        §3 Widerrufsrecht
                    </p>
                    <p>
                        Einem Kunden, der Verbraucher ist, steht ein Widerrufsrecht zu. Näheres
                        ergibt sich aus der Widerrufsbelehrung des Anbieters.
                    </p>
                    <p>
                        §4 Vergütung
                    </p>
                    <p>
                        4.1 Die Dienstleistungen des Anbieters sind kostenpflichtig. Die Höhe der
                        Vergütung und die Zahlungsmodalitäten ergeben sich aus der jeweiligen
                        Leistungsbeschreibung bzw. dem jeweiligen Angebot des Anbieters.
                    </p>
                    <p>
                        4.2 Der Anbieter bietet dem Kunden die Zahlung per Barzahlung oder Kauf auf
                        Rechnung an. Stimmt der Anbieter durch Annahme des Angebotes der
                        Rechnungszahlung des Kunden zu, gerät der Kunde spätestens eine Woche nach
                        Zugang einer Mahnung in Verzug.
                    </p>
                    <p>
                        4.3 Während dem Verzug schuldet der Kunde Verzugszinsen in gesetzlicher
                        Höhe, wovon die Geltendmachung weiteren Verzugsschadens unberührt bleibt.
                    </p>
                    <p>
                        §5 Vertraulichkeit
                    </p>
                    <p>
                        Dem Anbieter im Rahmen seiner Dienstleistung bekanntgewordenen
                        Informationen und Daten über den Kunden, insbesondere dessen betriebliche
                        Interna, vertraulich behandeln und nicht an Dritte weitergeben.
                    </p>
                    <p>
                        §6 Mitwirkungspflicht des Kunden
                    </p>
                    <p>
                        6.1 Die Beauftragung und Inanspruchnahme der Dienstleistungen des Anbieters
                        umfassen grundsätzlich die Bevollmächtigung, sämtliche für die Durchführung
                        des Auftrages erforderlichen Verträge im Namen des Kunden abzuschließen und
                        die Erforderlichen Willenserklärungen abzugeben. Dies gilt für alle in der
                        Auftragsbestätigung angegebenen Dienstleistungen.
                    </p>
                    <p>
                        6.2 Der Kunde versichert die Vollständigkeit und Korrektheit der in der
                        auftragsspezifischen Checkliste aufgeführten Dokumente. Die spezifische
                        Checkliste wird dem Kunden per E-Mail zugesandt oder kann auf der Website
                        eingesehen werden.
                    </p>
                    <p>
                        6.3 Der Kunde ist zur vollständigen Aushändigung sämtlicher für die
                        Durchführung der Dienstleistung notwendigen Dokumente verpflichtet.
                    </p>
                    <p>
                        6.4 Der Kunde versichert die Echtheit, Vollständigkeit und Richtigkeit der
                        Übergebenen Dokumente.
                    </p>
                    <p>
                        6.5 Scheitert die Durchführung der Dienste des Anbieters daran, dass alle
                        oder einzelne der vom Kunden übergebenen Dokumente unecht, unvollständig,
                        unrichtig oder rechtlich unwirksam sind, behält sich der Anbieter die
                        Inrechnungstellung der dadurch entstandenen Kosten vor.
                    </p>
                    <p>
                        6.6 Der Anbieter wird vom Kunden von allen Ansprüchen Dritter, gleich aus
                        welchem Rechtsgrund, befreit, die durch die Übergabe unvollständiger,
                        unrichtiger oder unwirksamer Unterlagen entstehen können. Im Fall der
                        Einbehaltung oder Beschlagnahmung von Unterlagen durch Behörden, bestehen
                        seitens des Kunden keine Ansprüche gegenüber dem Anbieter, es sein denn,
                        der Anbieter hat die Beschlagnahmung zu vertreten.
                    </p>
                    <p>
                        6.7. Der Kunde verpflichtet sich, die an ihn zurückzugewährenden Unterlagen
                        und Dokumente sowie die im Rahmen des Auftrags für den Kunden durch den
                        Anbieter empfangenen Unterlagen und Dokumente an der von ihm angegebenen
                        Adresse für die Rücklieferung persönlich oder durch empfangsbevollmächtigte
                        Personen entgegenzunehmen.
                    </p>
                    <p>
                        6.8 Wird weder der Kunde selbst oder die bevollmächtigte Person
                        angetroffen, behält sich der Anbieter vor, die Übergabe auch an
                        anderweitige Personen zu veranlassen, von welcher nach den Umständen
                        angenommen werden kann, dass diese zur Entgegennahme der Sendung berechtigt
                        sind. Hierzu zählen vorzugsweise in den Wohn- und Geschäftsräumen des
                        Kunden anwesende Personen, in etwa angestelltes Personal,
                        Familienangehörige sowie andere Hausbewohner bzw. Nachbarn.
                    </p>
                    <p>
                        6.9 Scheitert die Auslieferung der Sendung, in etwa aus den oben genannten
                        Gründen, setzt der Anbieter den Kunden darüber in Kenntnis. Nach Absprache
                        erfolgt ein weiterer Zustellversuch, die dadurch entstandenen Kosten sind
                        vom Kunden zu tragen.
                    </p>
                    <p>
                        6.10 Sofern der zweite Zustellversuch ebenfalls scheitert, so wird der
                        Anbieter die Dokumente und Unterlagen des Kunden an die im Impressum
                        angegebene Adresse des Anbieters für den Kunden 365 Tage verwahren.
                    </p>
                    <p>
                        6.11 Der Vertrag gilt mit Auslieferung der zur Erbringung der
                        Dienstleistung notwendigen Unterlagen und Dokumente zurück an den Kunden
                        als erfüllt.
                    </p>
                    <p>
                        §7 Haftung des Anbieters
                    </p>
                    <p>
                        7.1 Der Anbieter haftet dem Kunden gegenüber aus allen vertraglichen,
                        vertragsähnlichen und gesetzlichen, auch deliktischen Ansprüchen auf
                        Schadens- und Aufwendungsersatz wie folgt.
                    </p>
                    <p>
                        7.2 Der Anbieter haftet aus jedem Grund uneingeschränkt a) bei Vorsatz oder
                        grober Fahrlässigkeit; b) bei vorsätzlicher oder fahrlässiger Verletzung
                        des Lebens, des Körpers oder der Gesundheit; c) aufgrund eines
                        Garantieversprechens, soweit diesbezüglich nichts anderes bestimmt ist; d)
                        aufgrund zwingender Haftung wie etwa nach dem Produkthaftungsgesetz.
                    </p>
                    <p>
                        7.3 Verletzt der Anbieter fahrlässig eine wesentliche Vertragspflicht, ist
                        die Haftung auf den vertragstypischen, vorhersehbaren Schaden begrenzt,
                        sofern der Anbieter nicht gemäß vorstehender Ziffer unbeschränkt haftet.
                        Wesentliche Vertragspflichten sind Pflichten, die der Vertrag dem Anbieter
                        nach seinem Inhalt zur Erreichung des Vertragszwecks auferlegt, deren
                        Erfüllung die ordnungsgemäße Durchführung des Vertrags überhaupt erst
                        ermöglicht und auf deren Einhaltung der Kunde regelmäßig vertrauen darf.
                    </p>
                    <p>
                        7.4 Im Übrigen ist die Haftung ausgeschlossen.
                    </p>
                    <p>
                        7.5. Vorstehende Bedingungen gelten auch für die Haftung des Anbieters für
                        dessen Erfüllungsgehilfen und gesetzliche Vertreter.
                    </p>
                    <p>
                        7.6 Eine Haftung für durch technisch bedingte Ausfälle verursachte
                        Datenverluste, abgebrochene Datenübertragungen oder sonstige Probleme und
                        Schäden in diesem Zusammenhang, welche vom Anbieter nicht zu vertreten
                        sind, ist ausgeschlossen. Der Anbieter haftet nicht für Schäden, die durch
                        die Störung seines Betriebs bzw. des Betriebs seines Online-Dienstes
                        infolge von höherer Gewalt, Aufruhr, Kriegs- und Naturereignissen oder
                        infolge von sonstigen vom Anbieter nicht zu vertretenden Vorkommnissen (z.
                        B. Streik, Aussperrung, Verkehrsstörungen, Verfügungen von öffentlicher
                        Hand des In- und Auslands) veranlasst oder auf nicht schuldhaft verursachte
                        technische Probleme zurückzuführen sind. Dies gilt auch, soweit diese
                        Störungen bei vom Anbieter beauftragten Dritten eintreten.
                    </p>
                    <p>
                        7.7 Der Anbieter bemüht sich im Rahmen seiner operativ betrieblichen und
                        technischen Möglichkeiten außerordentlich um die Einhaltung der vor der
                        Bestellung vom Kunden konfigurierten und gewünschten Durchführungszeit.
                        Eine Garantie für eine bestimmte Durchführungszeit der Dienstleistung wird
                        nicht übernommen.
                    </p>
                    <p>
                        §8 Schlussbestimmungen
                    </p>
                    <p>
                        8.1 Für sämtliche Rechtsbeziehungen der Parteien gilt das Recht der
                        Bundesrepublik Deutschland. Bei Verbrauchern gilt diese Rechtswahl nur
                        insoweit, als nicht der gewährte Schutz durch zwingende Bestimmungen des
                        Rechts des Staates, in dem der Verbraucher seinen gewöhnlichen Aufenthalt
                        hat, entzogen wird.
                    </p>
                    <p>
                        8.2 Handelt der Kunde als Kaufmann, juristische Person des öffentlichen
                        Rechts oder öffentlich-rechtliches Sondervermögen mit Sitz im Hoheitsgebiet
                        der Bundesrepublik Deutschland, ist ausschließlicher Gerichtsstand für alle
                        Streitigkeiten aus diesem Vertrag der Geschäftssitz des Anbieters. Hat der
                        Kunde seinen Sitz außerhalb des Hoheitsgebiets der Bundesrepublik
                        Deutschland, so ist der Geschäftssitz des Anbieters ausschließlicher
                        Gerichtsstand für alle Streitigkeiten aus diesem Vertrag, wenn der Vertrag
                        oder Ansprüche aus dem Vertrag der beruflichen oder gewerblichen Tätigkeit
                        des Kunden zugerechnet werden können. Der Anbieter ist in den vorstehenden
                        Fällen jedoch in jedem Fall berechtigt, das Gericht am Sitz des Kunden
                        anzurufen.
                    </p>
                    <p>
                        8.3 Die Vertragssprache ist Deutsch.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
