{% extends 'base.html.twig' %}

{% block body %}
    <section class="mt-40">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 col-main push-lg-3">

                </div>
            </div>
        </div>
    </section>
{% endblock %}
