<!DOCTYPE html>
<html lang="de" class="cspio">
<head>
    <meta charset="utf-8">
    <title>{% block title %}AmtAgenten{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap and default Style -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://static.comingsoonpage.com/cspio-assets/1.0.0/style.css">



    <!-- Google Fonts -->
    <link class="gf-text" href='https://fonts.googleapis.com/css?family=Open+Sans:400&subset=' rel='stylesheet' type='text/css'>


    <!-- RTL -->






    <!-- Calculated Styles -->
    <style type="text/css">




        /* Background Style */
        html{
            height:100%;
            background: #000000 url(https://images.unsplash.com/1/macbook-air-iphone-moleskin.jpg?ixlib=rb-0.3.…q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=9f422d9237277e69e97e9f97560db5a6) no-repeat center top fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #cspio-page{
            background-color: rgba(0,0,0,0);
        }

        .flexbox #cspio-page{
            align-items: center;
            justify-content: center;
        }



        .cspio body{
            background: transparent;
        }


        /* Text Styles */
        .cspio body, .cspio body p{
            font-family: 'Open Sans';
            font-weight: 400;
            font-style: ;
            font-size: 16px;
            line-height: 1.50em;
            color:#ffffff;
        }

        ::-webkit-input-placeholder {
            font-family:'Open Sans';
            font-weight: 400;
            font-style: ;
        }
        ::-moz-placeholder {
            font-family:'Open Sans';
            font-weight: 400;
            font-style: ;
        } /* firefox 19+ */
        :-ms-input-placeholder {
            font-family:'Open Sans';
            font-weight: 400;
            font-style: ;
        } /* ie */
        :-moz-placeholder {
            font-family:'Open Sans';
            font-weight: 400;
            font-style: ;
        }




        .cspio h1, .cspio h2, .cspio h3, .cspio h4, .cspio h5, .cspio h6{
            color:#ffffff;
        }
        #cspio-headline{
            font-family: 'Open Sans';
            font-weight: 400;
            font-style: ;
            font-size: 42px;
            color:#ffffff;
            line-height: 1.00em;
        }

        .cspio button{
            font-family: 'Open Sans';
            font-weight: 400;
            font-style: ;
        }

        /* Link Styles */
        .cspio a, .cspio a:visited, .cspio a:hover, .cspio a:active{
            color: #20a623;
        }


        #cspio-socialprofiles a {
            color: #ffffff;
        }
        .cspio .btn-primary,
        .cspio .btn-primary:focus,
        .gform_button,
        #mc-embedded-subscribe,
        .mymail-wrapper .submit-button {
            color: white;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
            background-color: #20a623;
            background-image: -moz-linear-gradient(top,#20a623,#146615);
            background-image: -ms-linear-gradient(top,#20a623,#146615);
            background-image: -webkit-gradient(linear,0 0,0 100%,from(#20a623),to(#146615));
            background-image: -webkit-linear-gradient(top,#20a623,#146615);
            background-image: -o-linear-gradient(top,#20a623,#146615);
            background-image: linear-gradient(top,#20a623,#146615);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20a623', endColorstr='#146615', GradientType=0);
            border-color: #146615 #146615 #072608;
            border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
            *background-color: #146615;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        }
        .cspio .btn-primary:hover,
        .cspio .btn-primary:active,
        .cspio .btn-primary.active,
        .cspio .btn-primary.disabled,
        .cspio .btn-primary[disabled],
        .cspio .btn-primary:focus:hover,
        .cspio .btn-primary:focus:active,
        .cspio .btn-primary:focus.active,
        .cspio .btn-primary:focus.disabled,
        .cspio .btn-primary:focus[disabled],
        .gform_button:hover,
        .gform_button:active,
        .gform_button.active,
        .gform_button.disabled,
        .gform_button[disabled],
        #mc-embedded-subscribe:hover,
        #mc-embedded-subscribe:active,
        #mc-embedded-subscribe.active,
        #mc-embedded-subscribe.disabled,
        #mc-embedded-subscribe[disabled],
        .mymail-wrapper .submit-button:hover,
        .mymail-wrapper .submit-button:active,
        .mymail-wrapper .submit-button.active,
        .mymail-wrapper .submit-button.disabled,
        .mymail-wrapper .submit-button[disabled] {
            background-color: #146615;
            *background-color: #105011;
        }
        .cspio .btn-primary:active,
        .cspio .btn-primary.active,
        .cspio .btn-primary:focus:active,
        .cspio .btn-primary:focus.active,
        .gform_button:active,
        .gform_button.active,
        #mc-embedded-subscribe:active,
        #mc-embedded-subscribe.active,
        .mymail-wrapper .submit-button:active,
        .mymail-wrapper .submit-button.active {
            background-color: #0b3b0c \9;
        }
        .form-control,
        .progress {
            background-color: #f5f5f5;
        }
        #cspio-progressbar span,
        .countdown_section {
            color: white;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
        }
        .cspio .btn-primary:hover,
        .cspio .btn-primary:active {
            color: white;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
            border-color: #187b1a;
        }
        .cspio input[type='text']:focus {
            webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(20,103,21,0.6);
            -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(20,103,21,0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(20,103,21,0.6);
        }


        #cspio-content {
            max-width: 759px;
            background-color: #000000;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
        }

        #cspio-content{
            background-color:transparent;
        }


        .cspio .progress-bar,
        .countdown_section,
        .cspio .btn-primary,
        .cspio .btn-primary:focus,
        .gform_button {
            background-image: none;
            text-shadow: none;
        }
        .countdown_section,
        .cspio .progress-bar {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .cspio input,
        .cspio input:focus {
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }




        html {
            height: 100%;
            overflow: hidden;
        }
        body
        {
            height:100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }



        #cspio-page{
            background: rgba(0,0,0,0.7);
        }

        input, button{
            border-color: #000 !important;
        }

        input, button, .cspio .progress, .countdown_section{
            border-radius: 2px !important;
        }



    </style>
    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- FitVid -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
    <!-- Scripts -->
    <script src="https://static.comingsoonpage.com/cspio-assets/1.0.0/scripts.js"></script>
    <!-- Modernizr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- Retina JS -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>-->
    <!-- Tubular -->


    <!-- Header Scripts -->

    <!-- Google Analytics -->
</head>
<body>
<div id="cspio-page">
    <div id="cspio-content">
        <img id="cspio-logo" src="/images/logo-header.png">

        <h1 id="cspio-headline">Bald verfügbar</h1>
        <div id="cspio-description">Bald erledigen wir Ihre Behördengänge. Derzeit bearbeiten wir unsere Website, auf der Sie alle Infos finden werden.</div>







    </div>
</div>

<script>jQuery(document).ready(function($){$("#cspio-description,#cspio-thankyoumsg").fitVids();});</script>

<!-- Animate -->



<script>
    function resize(){
        $('head').append("<style id='form-style' type='text/css'></style>");
        $('#form-style').html('.cspio .input-group-btn, .cspio .input-group{display:block;width:100%;}.cspio #cspio-subscribe-btn{margin-left:0;width:100%;display:block;}.cspio .input-group .form-control:first-child, .cspio .input-group-addon:first-child, .cspio .input-group-btn:first-child>.btn, .cspio .input-group-btn:first-child>.dropdown-toggle, .cspio .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {border-bottom-right-radius: 4px;border-top-right-radius: 4px;}.cspio .input-group .form-control:last-child, .cspio .input-group-addon:last-child, .cspio .input-group-btn:last-child>.btn, .cspio .input-group-btn:last-child>.dropdown-toggle, .cspio .input-group-btn:first-child>.btn:not(:first-child) {border-bottom-left-radius: 4px;border-top-left-radius: 4px;}');
    }

    $('#cspio-content').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            var width = $('#cspio-field-wrapper').width();
            //console.log(width);
            if(width < 480 && width != 0){
                resize();
            }
        }
    );
</script>





</body>
</html>