{% extends 'base.html.twig' %}

{% block body %}
    <section class="mt-40">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                    <h1>Fragen die uns öfter gestellt werden:</h1>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#faq1">
                                    Welche Unterlagen muss ich für die Abholung bereit halten?</a>
                            </h4>
                        </div>
                        <div id="faq1" class="panel-collapse collapse">
                            <div class="panel-body">
                                Zur Durchführung des Austrags müssen Sie unserem Mitarbeiter unterschiedliche Dokumente bei der Abholung überreichen. Eine detaillierte Checkliste erhalten Sie mit der Auftragsbestätigung.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#faq2">
                                    Wie lange dauert die Erledigung eines Auftrages?</a>
                            </h4>
                        </div>
                        <div id="faq2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Je nach Auftragsart dauert die Abwicklung unterschiedlich lange. Behördengänge übernehmen wir für Sie innerhalb von 5 Werktagen. In unseren unterschiedlichen Angebotspaketen stellen wir Ihnen auch schnellere Optionen zur Auswahl.</div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#faq3">
                                    Wie kann bezahlt werde?</a>
                            </h4>
                        </div>
                        <div id="faq3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Sie haben bei uns die Möglichkeit auf unterschiedliche Weise zu bezahlen. Wir akzeptieren Zahlungen mit PayPal, Kauf auf Rechnung sowie die Bar Bezahlung bei der Abholung Ihrer Unterlagen.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#faq4">
                                    Von wo können Unterlagen abgeholt werden?</a>
                            </h4>
                        </div>
                        <div id="faq4" class="panel-collapse collapse">
                            <div class="panel-body">
                                Unser Mitarbeiter holt alle benötigten Unterlagen von Ihrer gewünschten Adresse ab. Hierbei kann es sich um Ihre Wohn- oder Arbeitsadresse handeln. Beschränkt wird der Abholort auf unser Servicegebiet.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#faq5">
                                    Wann können Unterlagen abgeholt werden?</a>
                            </h4>
                        </div>
                        <div id="faq5" class="panel-collapse collapse">
                            <div class="panel-body">
                                Unsere Mitarbeiter holen die benötigten Unterlagen für Ihren Auftrag täglich von 7 Uhr in der Früh bis 22 Uhr am Abend von Ihnen ab. Die Abholung ist auf Ihren Wunsch auch Sonntags möglich.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#faq6">
                                    Wie sicher sind meine Unterlagen?</a>
                            </h4>
                        </div>
                        <div id="faq6" class="panel-collapse collapse">
                            <div class="panel-body">
                                Im Umgang mit sensiblen Dokumenten legen wir besonderen Wert auf Sicherheit in unseren Prozessen. Um Missbrauch personenbezogener Dokumente zu vermeiden treffen wir eine Vielzahl an Maßnahmen:
                                <br><br>
                                Die bei der Bestellung eingegebenen persönlichen Daten werden verschlüsselt an unseren Server übermittelt und dienen zur Abwicklung Ihres Auftrags. Alle Informationen über Sie und Ihren Auftrag werden von uns nicht an Dritte weitergegeben. Alle unsere Mitarbeiter werden sicherheitsüberprüft und sind im Umgang mit sensiblen Dokumenten geschult. Zusätzlich können wir ihre Unterlagen durch ein GPS-Signal verfolgen und sind in der Lage zu jeder Zeit den Standort Ihrer Dokumente sowie unseres Kuriers festzustellen. Durch unseren persönlichen und direkten Service steht Ihnen jederzeit ein Ansprechpartner zu Verfügung und hilft Ihnen bei Fragen oder Problemen weiter.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
