{% extends 'base.html.twig' %}

{% block body %}
    <section class="mt-40">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 col-main push-lg-3">
                    <h1>Impressum - AmtAgenten.de</h1>
                    <br><h2>Betreiber und Kontakt</h2>
                    <p class="lead">Daniel Reichler Services UG (haftungsbeschränkt)
                        <br>Tetzelgasse 6<br>90403 Nürnberg<br> Deutschland
                        <br></p>
                    <br>
                    <h2>Vertretung</h2>
                    <p class="lead">Geschftsführer: Daniel Reichler
                        <br>Registergericht: Amtsgericht Nürnberg
                        <br>Registernummer: HRB 32200
                        <br>
                        <br>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE289806601
                        <br>Verantwortlich i.S.d. §55 Abs. 2 RStV: Daniel Reichler, Tetzelgasse 6, 90403 Nürnberg
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
