{% extends 'base.html.twig' %}

{% block navigation2 %}
<li><a href="#home">Home</a></li>
<li><a href="#divider">Ablauf</a></li>
<li><a href="#feature">Was wir anbieten</a></li>
<li><a href="#contact">Kontakt</a></li>
{% endblock %}

{% block javascripts %}
<!--<script src="js/jquery.singlePageNav.min.js"></script>-->
{% endblock %}

{% block body %}
    <section id="home">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 wow fadeIn" data-wow-delay="0.3s">
                        <br>
                        <p class="tm-white" style="font-size: 1.2em;">Weil das Warten am Amt nervt</p>
                        <h1 class="text-upper">Wir erledigen Ihre Behördengänge</h1>
                        <p class="header-text"><i class="fa fa-clock-o fa-lg"></i> Schnell&nbsp;&nbsp;&nbsp;<i class="fa fa-lock fa-lg"></i> Sicher&nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up fa-lg"></i> Zuverlässig</p>
                        <br><br>
                        <div class="col-md-8 col-md-offset-2 wow fadeInDown text-center form-group" data-wow-delay="1s">
                            <p class="lead">Welcher Behördengang steht an?</p>
                            <div class="input-group-lg">
                                <select id="headerSelector" class="form-control" onchange="selectService('headerSelectorBtn', 'headerSelector', true);">
                                    <option selected disabled><strong>Service auswählen</strong></option>
                                    <optgroup label="Behördengänge">
                                        <option value="wohnsitz-ummelden">Wohnsitz ummelden</option>
                                        <option value="ausweis-abholen">Ausweis abholen</option>
                                        <option value="parkausweis-beantragen">Parkausweis beantragen</option>
                                    </optgroup>
                                    <optgroup label="KFZ">
                                        <option value="kfz-zulassen">KFZ zulassen</option>
                                        <option value="kfz-ummelden">KFZ ummelden</option>
                                        <option value="kfz-abmelden">KFZ abmelden</option>
                                    </optgroup>
                                </select>
                                <!--<p class="text-center input-group-btn">
                                    <a id="headerSelectorBtn" class="btn btn-success" type="button" tabindex="-1" disabled>Zum Service</a>
                                </p>-->
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </section><section id="divider">
    <div class="container">
        <div class="row">
            <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img data-rct="img" src="/images/calendar.png" style="height: 100px;" class="center-block width-auto padding22">
                <h3 class="text-uppercase">Abholtermin wählen</h3>
                <p>Sie beauftragen uns online und wählen einen Abholtermin aus, an dem wir die notwendigen Unterlagen an Ihrem Wunschort (z.B. zuhause oder im Büro) abholen.</p>
            </div>
            <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img data-rct="img" src="/images/papers.png" style="height: 100px;" class="center-block width-auto padding22">
                <h3 class="text-uppercase">Übergabe der Unterlagen</h3>
                <p>Zum gewählten Abholtermin kommen wir zu Ihnen und holen die notwendigen Unterlagen bei Ihnen ab. Auf Wunsch, bringen wir die Unterlagen mit und füllen diese zusammen mit Ihnen aus.</p>
            </div>
            <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img data-rct="img" src="/images/letter.png" style="height: 100px;" class="center-block width-auto padding22">
                <h3 class="text-uppercase">Dokumente erhalten</h3>
                <p>Wir erledigen den Auftrag, zum Beispiel Ihren Behördengang, und schicken Ihnen alle Unterlagen wieder zurück. Auf Wunsch bringen wir sie auch persönlich vorbei.</p>
            </div>
        </div>
    </div>
</section>
    <!-- end divider -->

    <!-- start feature -->
    <section id="feature">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Was wir für Sie erledigen</h1>
                <hr>
                <div class="row text-left">
                    <div class="col-md-6 wow fadeInDown" data-wow-delay="0.6s">
                        <h3><i class="fa fa-university" aria-hidden="true"></i>Behördengänge</h3>
                        <ul class="list-unstyled" style="margin-left:60px; font-size: 1.4em; line-height: 2em;">
                            <li><a href="/service/wohnsitz-ummelden">Wohnsitz ummelden</a><br></li>
                            <li><a href="/service/ausweis-abholen">Ausweis abholen</a><br></li>
                            <li><a href="/service/parkausweis-beantragen">Parkausweis beantragen</a></li>
                            <!--<li><a href="#">Gewerbe anmelden</a></li>
                            <li><a href="#">Gewerbe ummelden</a></li>
                            <li><a href="#">Gewerbe abmelden</a></li>-->
                        </ul>
                    </div>
                    <div class="col-md-6 wow fadeInDown" data-wow-delay="0.6s">
                        <h3><i class="fa fa-car" aria-hidden="true"></i>KFZ-Zulassung</h3>
                        <ul class="list-unstyled" style="margin-left:60px; font-size: 1.4em; line-height: 2em;">
                            <li><a href="/service/kfz-zulassen">KFZ zulassen</a><br></li>
                            <li><a href="/service/kfz-ummelden">KFZ ummelden</a><br></li>
                            <li><a href="/service/kfz-abmelden">KFZ abmelden</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end feature -->

    <!-- start feature1 -->
    <section class="padding-b-80px mt-60">
        <div class="container">
            <div class="row">
                <div class="row">
                    <h1 class="text-center">Was unseren Service besonders macht</h1>
                    <hr>
                    <div class="col-lg-4 col-sm-12 text-center"><i class="fa fa-clock-o" style="font-size:110px"></i>
                        <h3>Schnelle Erledigung</h3>
                        <p class="fa-ul text-left" style="font-size: 1.15em; line-height: 1.75em;">
                            Ihren Auftrag können Sie online in 3 Minuten erteilen. Den Behördengang erledigen wir
                            innerhalb von 2 (Express) bzw. 3 bis 5 Arbeitstagen.
                        </p>
                        <br>
                    </div>
                    <div class="col-lg-4 col-sm-12 text-center"><i class="fa fa-lock" style="font-size:110px"></i>
                        <h3>Sicherheit</h3>
                        <p class="fa-ul text-left" style="font-size: 1.15em; line-height: 1.75em;">
                            Über unsere Website werden Ihre Daten verschlüsselt übertragen. Unsere Mitarbeiter sind sicherheitsüberprüft
                            und Ihre Unterlagen werden per GPS getrackt.
                        </p>
                        <br>
                    </div>
                    <div class="col-lg-4 col-sm-12 text-center"><i class="fa fa-thumbs-o-up" style="font-size:110px"></i>
                        <h3>Zuverlässigkeit</h3>
                        <p class="fa-ul text-left" style="font-size: 1.15em; line-height: 1.75em;">
                            Unsere geschulten und sicherheitsgeprüften Mitarbeitern sorgen für persönlichen und zuverlässigen Service.
                            Die Zufriedenheit unserer Kunden ist unser höchstes Ziel.
                        </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="" class="section-callToAction pb-40">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center mt-40" data-wow-delay="1.2s">
                    <h2>Mehr Informationen zu unseren Services</h2>
                    <br><br>
                    <div class="">
                        <div class="col-md-10 input-group-lg">
                        <select id="footerSelectorSelect" name="footerSelectorSelect" class="form-control" onchange="selectService('footerSelectBtn', 'footerSelectorSelect', true);">
                            <option disabled selected><strong>Unsere Services</strong></option>
                            <optgroup label="Behördengänge">
                                <option value="wohnsitz-ummelden">Wohnsitz ummelden</option>
                                <option value="ausweis-abholen">Ausweis abholen</option>
                                <option value="parkausweis-beantragen">Parkausweis beantragen</option>
                            </optgroup>
                            <optgroup label="KFZ">
                                <option value="kfz-zulassen">KFZ zulassen</option>
                                <option value="kfz-ummelden">KFZ ummelden</option>
                                <option value="kfz-abmelden">KFZ abmelden</option>
                            </optgroup>
                        </select>
                        </div>
                        <div class="col-md-2 input-group-lg">
                        <p class="text-center input-group-lg">
                            <a id="footerSelectorBtn" class="btn btn-success btn-lg" type="button" tabindex="-1" disabled>Zum Service</a>
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col-md-12 " data-wow-delay="1.2s">
                    <h6 class="text-center">(Derzeit bieten wir unseren Service in <strong>Nürnberg</strong> an.<br>Weitere Standorte folgen bald!)</h6>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- end feature1 -->

    <!-- start pricing -->
    {#<section id="pricing">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12 wow bounceIn">#}
                    {#<h2 class="text-uppercase">Our Pricing</h2>#}
                {#</div>#}
                {#<div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">#}
                    {#<div class="pricing text-uppercase">#}
                        {#<div class="pricing-title">#}
                            {#<h4>Basic Plan</h4>#}
                            {#<p>$11</p>#}
                            {#<small class="text-lowercase">monthly</small>#}
                        {#</div>#}
                        {#<ul>#}
                            {#<li>6 GB Space</li>#}
                            {#<li>600 GB Bandwidth</li>#}
                            {#<li>60 More Themes</li>#}
                            {#<li>Lifetime Support</li>#}
                        {#</ul>#}
                        {#<button class="btn btn-primary text-uppercase">Sign up</button>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">#}
                    {#<div class="pricing active text-uppercase">#}
                        {#<div class="pricing-title">#}
                            {#<h4>Business Plan</h4>#}
                            {#<p>$22</p>#}
                            {#<small class="text-lowercase">monthly</small>#}
                        {#</div>#}
                        {#<ul>#}
                            {#<li>15 GB space</li>#}
                            {#<li>1,500 GB Bandwidth</li>#}
                            {#<li>150 More Themes</li>#}
                            {#<li>Lifetime Support</li>#}
                        {#</ul>#}
                        {#<button class="btn btn-primary text-uppercase">Sign up</button>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">#}
                    {#<div class="pricing text-uppercase">#}
                        {#<div class="pricing-title">#}
                            {#<h4>Pro Plan</h4>#}
                            {#<p>$33</p>#}
                            {#<small class="text-lowercase">monthly</small>#}
                        {#</div>#}
                        {#<ul>#}
                            {#<li>35 GB space</li>#}
                            {#<li>3,500 GB bandwidth</li>#}
                            {#<li>350 more themes</li>#}
                            {#<li>Lifetime Support</li>#}
                        {#</ul>#}
                        {#<button class="btn btn-primary text-uppercase">Sign Up</button>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
    <!-- end pricing -->

    <!-- start download -->
    {#<section id="download">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">#}
                    {#<h2 class="text-uppercase">Download Our Software</h2>#}
                    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>#}
                    {#<button class="btn btn-primary text-uppercase"><i class="fa fa-download"></i> Download</button>#}
                {#</div>#}
                {#<div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">#}
                    {#<img src="images/software-img.png" class="img-responsive" alt="feature img">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
    <!-- end download -->

    <!-- start contact -->
    <!--<section id="contact">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="col-md-12">
                                <h2 class="text-uppercase">Kontakt</h2>
                                <p>Sie haben Fragen zu unseren Services oder unserem Unternehmen? Wir helfen Ihnen gerne! Füllen Sie einfach folgendes Kontaktformular aus, oder wenden Sie sich an <i>support@AmtAgenten.de</i>.</p>
                                <br>
                            </div>
                        <div class="contact-form">
                            <form action="#" method="post">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="E-Mail">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Betreff">
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" placeholder="Nachricht" rows="4"></textarea>
                                </div>
                                <div class="col-md-8">
                                    <input type="submit" class="form-control text-uppercase" value="Send">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    </div>
                </div>
            </div>
        </div>
    </section>-->
{% endblock %}
