{% extends 'base.html.twig' %}

{% block body %}
    <section class="mt-40">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-12 col-md-10 col-md-offset-1">
                    <h1>Jobs bei AmtAgenten.de</h1>
                    <p class="lead">Wir wachsen und suchen motivierte Mitarbeiter, die uns dabei unterstützen:</p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#job1">
                                    Nürnberg: Operations Agent (m/f)</a>
                            </h3>
                        </div>
                        <div id="job1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p class="lead"><strong>Beschreibung</strong></p>
                                <p>AmtAgenten ist ein junges auftrebendes Startup aus Nürnberg. Unsere Kunden können bei uns die Erledigung ihrer Behördengänge, z.B. Wohnsitz- und KFZ-Ummeldung bequem online beauftragen und von uns erledigen lassen. Damit ersparen wir ihnen unnötige Wartezeiten und sorgen für eine schnelle und unkomplizierte Abwicklung.</p>
                                <p>Deine Aufgaben:</p>
                                <ul>
                                    <li>Du übernimmst Behördengänge in Nürnberg und erledigst diese für unsere Kunden&nbsp;</li>
                                    <li>Du übernimmst außerdem Dokumentenabholungen und ggf. -rücklieferungen bei unseren Kunden in Nürnberg</li>
                                    <li>Du stellst sicher, dass die Unterlagen für den Behördengang vollständig sind</li>
                                </ul>
                                <p>Was wir dir bieten:</p>
                                <ul>
                                    <li>Die Möglichkeit, Geld mit wenig Aufwand dazuzuverdienen: Es ist dir überlassen, wie du die Wartezeiten auf der Behörde verbringst, ob du z.B. lernst, liest, Filme schaust, Twitterst oder telefonierst</li>
                                    <li>Wir vertrauen auf deine selbstständige Arbeitsweise, deinen freundlichen Umgang mit unseren Kunden&nbsp;und deinen gesunden Menschenverstand</li>
                                    <li>Wenn du willst, kannst du uns gerne beim Wachstum begleiten und deine Fähigkeiten in ein wachsendes Startup einbringen</li>
                                </ul>
                                <hr>
                                <p class="lead"><strong>Profil</strong></p>
                                <p>Was wir erwarten</p>
                                <p>Zuverlässigkeit, Freundlichkeit, seriöses Auftreten und gesunden Menschenverstand. Du solltest Aufträge selbstständig erledigen können, weshalb du für uns nicht einfach nur Kurier bist (deshalb die Stellenbezeichnung).</p>
                                <ul></ul>
                                <p>Die Konditionen:</p>
                                <ul>
                                    <li>Die Art der Mitarbeit (freie Mitarbeit oder feste monatliche Vergütung) besprechen wir mit dir - du entscheidest</li>
                                    <li>Die Erledigung der Aufträge richten sich nach deiner Zeiteinteilung - Behördengänge kannst du nach freier Zeiteinteilung erledigen, Dokumentenabholungen werden danach vereinbart,&nbsp;zu welchen Zeiten du Zeit hast</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#job2">
                                    Nürnberg: Praktikant (m/f) Marketing & Business development</a>
                            </h3>
                        </div>
                        <div id="job2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p class="lead"><strong>Beschreibung</strong></p>
                                <p>AmtAgenten ist ein junges auftrebendes Startup aus Nürnberg. Unsere Kunden können bei uns die Erledigung ihrer Behördengänge, z.B. Wohnsitz- und KFZ-Ummeldung bequem online beauftragen und von uns erledigen lassen. Damit ersparen wir ihnen unnötige Wartezeiten und sorgen für eine schnelle und unkomplizierte Abwicklung.</p>
                                <p>Wir suchen eine Studentin / einen Studenten, der bereits im Studium sein Wissen einbringen möchte, der Lust hat Verantwortung zu übernehmen, ein junges Unternehmen in der Anfangsphase begleiten will, selbstständig denken kann und lernen will.</p>
                                <p>Im Rahmen eines Praktikums kannst du bei AmtAgenten Einblicke in die Gründung eines Start-ups erhalten und dieses selbst mitgestalten.</p>
                                <p>Im Rahmen deiner Interessen, übernimmst du bei uns verschiedene Aufgaben, an denen du wachsen kannst und mit denen du AmtAgenten voranbringst.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>Bewerben</h2>
                            <p>Du hast Interesse und möchtest dich bewerben? Dann schicke uns eine E-Mail an <a href="mailto:daniel@amtagenten.de">daniel@amtagenten.de</a>, in der du uns kurz schreibst, warum du der oder die Richtige für den Job bist.</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
