{% extends "base.html.twig" %}

{% block javascripts %}
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script type="application/javascript">
    paypal.Button.render({

        env: 'production', // Or 'sandbox'

        locale: 'de_DE',

        style: {
            label: 'buynow',
            fundingicons: true, // optional
            branding: true, // optional
            size:  'medium', // small | medium | large | responsive
            shape: 'rect',   // pill | rect
            color: 'blue'   // gold | blue | silver | black
        },

        client: {
            sandbox:    'AfYL_Om6cO6imBbQF3s5lSQ0cmBNdxc_KiqLcJ9rRqkUBKqxGWUT26Ax8UcBmU_GroLqbP5Xswnndps-',
            production: 'AYI7wk1mxhIZ7Ji1BTwYNwNIEM6Zx8kSE0JN10f9C_aginRSK9-RpXVuUnAk9UDr_o_Pf7sfeCIeFVFg'
        },

        commit: true, // Show a 'Pay Now' button

        payment: function(data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: '{{ package.price }}', currency: 'EUR' }
                        }
                    ]
                }
            });
        },

        onAuthorize: function(data, actions) {
            return actions.payment.execute().then(function(payment) {
                $('#orderForm')
                {% if date == false %}
                    .attr('action', '/beauftragen/{{ service.urlName }}/{{ package.urlName }}/n/{{ contact.id }}/paypal')
                {% else %}
                    .attr('action', '/beauftragen/{{ service.urlName }}/{{ package.urlName }}/{{ date.id }}/{{ contact.id }}/paypal')
                {% endif %}
                    .submit();
                // The payment is complete!
                // You can now show a confirmation message to the customer
            });
        }

    }, '#paypal-button');
</script>
    <script type="application/javascript">
        var payment = 'cash';

        $('#payCash').click(function(){
            $('#paypal-button').hide();
            setOrderLink('cash');
            $('#submitBtn').show();
            payment = 'cash';
        });

        $('#payPaypal').click(function(){
            $('#submitBtn').hide();
            setOrderLink('paypal');
            $('#paypal-button').show();
            payment = 'paypal';
        });

        $('#payBill').click(function(){
            $('#paypal-button').hide();
            setOrderLink('bill');
            $('#submitBtn').show();
            payment = 'bill';
        });

        var setOrderLink = function(payment) {
            {% if date == false %}
            $('#orderForm').attr('action', '/beauftragen/{{ service.urlName }}/{{ package.urlName }}/n/{{ contact.id }}/' + payment)
            {% else %}
            $('#orderForm').attr('action', '/beauftragen/{{ service.urlName }}/{{ package.urlName }}/{{ date.id }}/{{ contact.id }}/' + payment)
            {% endif %}
        }

    </script>
{% endblock %}

{% block body %}
    <section class="mt-40">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 col-main push-lg-3">
                    <h1>{{ service.name }}</h1>
                    <div class="container hidden-xs">
                        <div class="row">
                            <ul class="breadcrumb">
                                <li class="completed"><a href="/warenkorb/{{ service.urlName }}">Auftragsdetails</a></li>
                                <li class="completed"><a href="/warenkorb/{{ service.urlName }}/{{ package.urlName }}">Termin & Adresse</a></li>
                                <li class="active"><a href="javascript:void(0);">Bezahlung</a></li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="container">
                        <div class="row">
                            {% if date == false %}
                            <form id="orderForm" method="post" action="/beauftragen/{{ service.urlName }}/{{ package.urlName }}/n/{{ contact.id }}/cash">
                            {% else %}
                            <form id="orderForm" method="post" action="/beauftragen/{{ service.urlName }}/{{ package.urlName }}/{{ date.id }}/{{ contact.id }}/cash">
                            {% endif %}
                                <div class="col-md-8">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h4>Adresse & Termin</h4>
                                        </div>
                                        <div class="panel-body">
                                            <p><strong class="lead">Anschrift</strong><br>
                                                {{ contact.salutation }} {{ contact.firstname }} {{ contact.lastname }}<br>
                                                {{ contact.street }} {{ contact.streetNr }}<br>
                                                {{ contact.zip }} {{ contact.city }}
                                            </p>
                                            {% if date == false %}
                                                <p><strong class="lead">Abholtermin</strong><br>
                                                    Wir setzen uns mit Ihnen in Kontakt um individuell einen Termin zu vereinbaren.
                                                </p>
                                            {% else %}
                                                <p><strong class="lead">Abholtermin</strong><br>
                                                    {{ date.date | date('d.m.Y H:i') }}
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                    <h3><strong>Wie möchten Sie bezahlen?</strong></h3>
                                    <p>Bitte wählen Sie Ihre gwünschte Zahlungsart aus:</p>
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a id="payCash" data-toggle="tab" href="#bar">Barzahlung</a></li>
                                        <li><a id="payPaypal" data-toggle="tab" href="#paypal">PayPal</a></li>
                                        <li><a id="payBill" data-toggle="tab" href="#rechnung">Rechnung</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="bar" class="tab-pane fade in active panel panel-default panel-body">
                                            <p class="">Unser Mitarbeiter nimmt das Geld bei der Abholung in Bar entgegen.<br>Bitte halten Sie den Betrag zum gewählten Termin passend bereit.</p>
                                        </div>
                                        <div id="paypal" class="tab-pane fade panel panel-default panel-body">
                                            <p class="">Bezahlen Sie bequem per PayPal. Klicken Sie dazu bitte einfach auf den PayPal-Button rechts.</p>
                                        </div>
                                        <div id="rechnung" class="tab-pane fade panel panel-default panel-body">
                                            <p class="">Sie bezahlen den Rechnungsbetrag innerhalb von 14 Tagen auf unser Konto.<br>Unser Mitarbeiter bringt Ihnen bei der Abholung der Unterlagen eine Rechnung mit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="text-center">{{ service.name }}<br>Paket {{ package.name }}</h4>
                                        </div>
                                        <div class="panel-body">
                                            <p class="text-center">
                                                {% if package.FeesIncluded %}
                                                    Inkl. aller Amtsgebühren
                                                {% endif %}
                                                {% if package.FeesIncluded == false %}
                                                    Zzgl. Amtsgebühren
                                                {% endif %}
                                            </p>
                                            <p class="lead"><strong>Preis</strong><span class="small"> (inkl. MwSt.)</span><span class="pull-right">{{ package.price | replace({'.': ','}) }}€</span></p>
                                            <button id="submitBtn" class="btn btn-success btn-lg col-md-12" type="submit">Kostenpflichtig bestellen</button>
                                            <div id="paypal-button" style="display: none;"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
