{% extends "base.html.twig" %}

{% block body %}
    <section class="mt-40">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 col-main  text-center">
                    <h1>Vielen Dank für Ihre Bestellung!</h1>
                    <p class="lead">Wir prüfen nun Ihre Bestellung. Weitere Informationen und die notwendigen Formulare senden wir Ihnen per E-Mail zu.</p>
                    <p class="lead">Bei Rückfragen stehen wir Ihnen gerne zur Verfügung: <a href="mailto:support@amtagenten.de">support@AmtAgenten.de</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
