{% extends "base.html.twig" %}


{% block body %}
    <section class="mt-40">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 col-main push-lg-3">
                    <h1>{{ service.name }}</h1>
                    <div class="container hidden-xs">
                        <div class="row">
                            <ul class="breadcrumb">
                                <li class="completed"><a href="/warenkorb/{{ service.urlName }}">Auftragsdetails</a></li>
                                <li class="active"><a href="javascript:void(0);">Termin & Adresse</a></li>
                                <li class="disabled"><a href="javascript:void(0);">Bezahlung</a></li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="container">
                        <div class="row">
                            <form method="POST" action="/beauftragen/{{ service.urlName }}/{{ package.urlName }}">
                                <div class="col-md-8">
                                    {% if error == true %}
                                        <div class="alert alert-danger"><strong>Fehler!</strong> Nicht alle Felder wurden korrekt ausgefüllt.</div>
                                    {% endif %}
                                    <p class="lead">Wo sollen wir die Unterlagen abholen?</p>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="salutation">Anrede</label>
                                                    <Select type="text" class="form-control" id="salutation" name="salutation" onchange="packageSubmit()">
                                                        <option value="Herr">Herr</option>
                                                        <option value="Frau">Frau</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="title">Titel</label>
                                                    <input type="text" class="form-control" id="title" name="title">

                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.row -->
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="firstname">Vorname</label>
                                                    <input type="text" class="form-control" id="firstname" name="firstname" onchange="packageSubmit()">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="lastname">Nachname</label>
                                                    <input type="text" class="form-control" id="lastname" name="lastname" onchange="packageSubmit()">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- /.row -->
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-4">
                                                <div class="form-group">
                                                    <label for="street">Straße</label>
                                                    <input type="text" class="form-control" id="street" name="street" onchange="packageSubmit()">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-2">
                                                <div class="form-group">
                                                    <label for="streetNr">Nummer</label>
                                                    <input type="text" class="form-control" id="streetNr" name="streetNr" onchange="packageSubmit()">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-md-2">
                                                    <div class="form-group">
                                                        <label for="zip">Postleitzahl</label>
                                                        <input type="text" class="form-control" id="zip" name="zip" onchange="packageSubmit()">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="city">Ort</label>
                                                        <input type="text" class="form-control" id="city" value="Nürnberg" disabled name="city" onchange="packageSubmit()">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="phone">Telefon</label>
                                                    <input type="text" class="form-control" id="phone" name="phone" onchange="packageSubmit()">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="email">E-Mail</label>
                                                    <input type="text" class="form-control" id="email" name="email" onchange="packageSubmit()">
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <hr>

                                    <div class="form-group col-md-6">
                                        <p class="lead">Abholtermin</p>
                                        {% if dates == false %}
                                            <input type="hidden" name="date" id="date" value="n">
                                            <p><strong>Alle Termine vergeben</strong></p>
                                            <p>Gerne können Sie <strong>trotzdem bestellen</strong> und wir kontaktieren Sie zur individuellen Terminfindung.
                                            </p>
                                        {% else %}
                                            <label for="date">Verfügbare Termine</label>
                                            <select id="date" name="date" class="form-control" onchange="packageSubmit()">
                                                {% for key, date in dates %}
                                                    <optgroup label="{{ key }}">
                                                        {% for time in date %}
                                                            <option value="{{ time.id }}">{{ key }} {{ time.time }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <p class="lead">AGB und Widerrufsrecht</p>
                                        <div class="input-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="agb" name="agb" value="" onchange="packageSubmit()">
                                                    Ich habe die <a href="/agb">AGB</a> gelesen und akzeptiere diese.
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="widerruf" name="widerruf" value="" onchange="packageSubmit()">
                                                    Ich wünsche, dass vor Ablauf der Widerrufsfrist mit der Ausführung begonnen wird. Nach vollständiger Erledigung verliere ich mein Widerrufsrecht.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="visible-xs">
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="text-center">{{ service.name }}<br>Paket {{ package.name }}</h4>
                                        </div>
                                        <input type="hidden" id="package" value="{{ package.id }}">
                                        <div class="panel-body">
                                            {% for feature in package.Features %}
                                                <li class="list-group-item">
                                                    <span class="pull-left">&#10003;</span>
                                                    {{ feature }}
                                                    <!--<span class="pull-right">&#10003;</span>-->
                                                </li>
                                            {% endfor %}
                                            <hr>
                                            <p class="text-center">
                                                {% if package.FeesIncluded %}
                                                    Inkl. aller Amtsgebühren
                                                {% endif %}
                                                {% if package.FeesIncluded == false %}
                                                    Zzgl. Amtsgebühren
                                                {% endif %}
                                            </p>
                                            <p class="lead"><strong>Preis</strong><span class="small"> (inkl. MwSt.)</span><span class="pull-right">{{ package.price | replace({'.': ','}) }}€</span></p>
                                            <input id="submitBtnPackage" class="btn btn-success btn-lg col-md-12" type="submit" value="Weiter" disabled></input>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
