{% extends "base.html.twig" %}


{% block body %}
    <section class="mt-40">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 col-main push-lg-3">
                    <h1>{{ service.name }}</h1>
                    <div class="container hidden-xs">
                        <div class="row">
                            <ul class="breadcrumb">
                                <li class="active"><a href="javascript:void(0);">Auftragsdetails</a></li>
                                <li class="disabled"><a href="javascript:void(0);">Termin & Adresse</a></li>
                                <li class="disabled"><a href="javascript:void(0);">Bezahlung</a></li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="lead">{{ service.LeadText }}</h4>
                    <br>
                    <div class="container">
                        <div class="row">
                            {% for package in service.packages %}
                                <div class="col-md-4">
                                    <div class="panel panel-{{ package.DisplayLevel }}">
                                        <div class="panel-heading">
                                            <h4 class="text-center">{{ package.name }}</h4>
                                        </div>
                                        <ul class="list-group list-group-flush text-center">
                                            {% for feature in package.Features %}
                                                <li class="list-group-item">
                                                    <span class="pull-left">&#10003;</span>
                                                    {{ feature }}
                                                    <!--<span class="pull-right">&#10003;</span>-->
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="panel-body text-center">
                                            <p class="lead">
                                                {% if package.FeesIncluded %}
                                                    Inkl. aller Amtsgebühren
                                                {% endif %}
                                                {% if package.FeesIncluded == false %}
                                                    Zzgl. Amtsgebühren
                                                {% endif %}
                                            </p>
                                            <p class="lead">
                                            <h3>{{ package.price | replace({'.': ','}) }}€</h3>
                                            </p>
                                        </div>
                                        <div class="panel-footer">
                                            <a class="btn btn-lg btn-block btn-success"
                                               href="../warenkorb/{{ service.UrlName }}/{{ package.UrlName }}">
                                                {{ service.name }}<br>beauftragen
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
