{% extends "::base.html.twig" %}

{% block title %}AmtAgenten.de - {{ service.name }}{% endblock %}

{% block body %}
    <section id="home">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 wow fadeIn" data-wow-delay="0.3s">
                        <h1 class="text-upper">{{ service.name }}</h1>
                        <p class="tm-white lead">{{ service.description | raw }}</p>
                        <br>
                        <p class="header-text"><i class="fa fa-clock-o fa-lg"></i> Schnell&nbsp;&nbsp;&nbsp;<i class="fa fa-lock fa-lg"></i> Sicher&nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up fa-lg"></i> Zuverlässig</p>
                        <br>
                        <div class="col-md-8 col-md-offset-2 wow fadeInDown text-center form-group" data-wow-delay="1.2s">
                            <div class=" input-group">
                                <p class="text-center input-group-btn">
                                    <a
                                            id="headerSelectorBtn"
                                            class="btn btn-success btn-lg"
                                            type="button"
                                            href="/warenkorb/{{ service.urlName }}">
                                        Jetzt beauftragen
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h2>{{ info.stepsTitle }}</h2>
                    <div class="row">
                        <div class="col-md-4 mt-40"><img data-rct="img" src="/images/calendar.png" style="height: 100px;" class="center-block width-auto padding22">
                            <h3><span class="text-primary">1.</span> {{ info.step1Title | raw }}</h3>
                            <p class="text-center">{{ info.step1Text | raw }}</p>
                        </div>
                        <div class="col-md-4 mt-40"><img data-rct="img" src="/images/papers.png" style="height: 100px;" class="center-block width-auto padding13">
                            <h3><span class="text-primary">2.</span> {{ info.step2Title | raw }}</h3>
                            <p class="text-center">{{ info.step2Text | raw }}</p>
                        </div>
                        <div class="col-md-4 mt-40"><img data-rct="img" src="/images/letter.png" style="height: 100px;"class="center-block width-auto">
                            <h3><span class="text-primary">3.</span> {{ info.step3title | raw }}</h3>
                            <p class="text-center">{{ info.step3Text | raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-callToAction">
        <div class="container">
            <div style="padding-top: 60px; padding-bottom: 60px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container">
                            <div class="col-md-4 text-center">
                                <div class="text-right">
                                    <img src="/images/curved-next-arrow.svg" style="height:60px;" class="hidden-xs hidden-sm">
                                </div>
                                <div class="hidden-xs hidden-sm">
                                    <p class="text-left lead hidden-xs">
                                        <strong>Expressauftrag</strong> erteilen:
                                        <br>
                                        Erledigt am nächsten Arbeitstag
                                    </p>
                                </div>
                                <div class="visible-xs visible-sm">
                                    <p class="text-center lead visible-xs">
                                        <strong>Expressauftrag</strong> erteilen:
                                        <br>
                                        Erledigt am nächsten Arbeitstag
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <a
                                        id="headerSelectorBtn"
                                        class="btn btn-success btn-lg"
                                        type="button"
                                        href="/warenkorb/{{ service.urlName }}"
                                        style="font-size: 25px; white-space: normal ">
                                    Jetzt online beauftragen
                                </a>
                            </div>
                            <div class="col-md-4">
                                <img src="/images/curved-next-arrow.svg" style="height:60px; transform: scaleX(-1);" class="hidden-xs hidden-sm">
                                <div class="hidden-xs hidden-sm">
                                    <p class="text-right lead">
                                        Regulärer Preis: <del>{{ (lowestPrice) + 10 }},00€</del><br>
                                        <strong>Neukunden Aktion: {{ lowestPrice | replace({'.': ','}) }}€</strong><br>
                                        {% if feesIncluded %}
                                            <small><i>(Inkl. aller Amtsgebühren{% if fees is not null %} <br>ca. {{ fees | replace({'.': ','}) }}€{% endif %})</i></small>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="visible-xs visible-sm">
                                    <p class="text-center lead"><br>
                                        Neukunden Aktion: <strong>{{ lowestPrice | replace({'.': ','}) }}€</strong><br>
                                        {% if feesIncluded %}
                                            <small><i>(Inkl. aller Amtsgebühren{% if fees is not null %} <br>ca. {{ fees | replace({'.': ','}) }}€{% endif %})</i></small>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-colored section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>Der Gang zum Amt kostet Zeit und Nerven</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="col-md-3">
                            <img src="/images/icons/hourglass-3.svg" style="filter: grayscale(100%); height: 125px;">
                        </div>
                        <div class="col-md-7">
                            <h3>Lange Wartezeiten</h3>
                            <p>Wartzeiten von bis zu 3 Stunden sind bei deutschen Behörden keine Seltenheit</p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="col-md-3">
                            <img src="/images/icons/clock-1.svg" style="filter: grayscale(100%); height: 125px;">
                        </div>
                        <div class="col-md-7">
                            <h3>Ungünstige Öffnungszeiten</h3>
                            <p>Öffnungszeiten nur während regulärer Arbeitszeiten ist mit Problemen verbunden</p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="col-md-3">
                            <img src="/images/icons/dislike.svg" style="filter: grayscale(100%); height: 125px;">
                        </div>
                        <div class="col-md-7">
                            <h3>Unklarer Ausgang</h3>
                            <p>Bei unvollständigen oder fehlerhaften Unterlagen werden Sie wieder nach Hause geschickt</p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>Unsere <i>AmtAgenten</i> übernehmen das für Sie</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="col-md-3">
                            <img src="/images/icons/stopwatch-1.svg" style="height: 125px;">
                        </div>
                        <div class="col-md-7">
                            <h3>Kein Warten</h3>
                            <p>Schnelle Beauftragung online in weniger als fünf Minuten</p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="col-md-3">
                            <img src="/images/icons/home-1.svg" style="height: 125px;">
                        </div>
                        <div class="col-md-7">
                            <h3>Beauftragung jederzeit</h3>
                            <p>Beauftragen Sie uns jederzeit online und wir holen die Unterlagen zu Ihrem Wunschtermin bei Ihnen ab</p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="col-md-3">
                            <img src="/images/icons/like.svg" style="height: 125px;">
                        </div>
                        <div class="col-md-7">
                            <h3>Persönlicher Service</h3>
                            <p>Wir prüfen Ihre Unterlagen vorab auf Vollständigkeit, korrigieren Fehler und sind persönlich für Sie da</p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 top38"><h1>{{ info.detailsTitle | raw }}</h1>

                    <p class="lead">{{ info.detailsText | raw }}</p>

                    <div class="panel-group" id="accordion">
                        {% if (info.faq1Title is not null) %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq1">
                                            {{ info.faq1Title | raw }}</a>
                                    </h4>
                                </div>
                                <div id="faq1" class="panel-collapse collapse">
                                    <div class="panel-body">{{ info.faq1Text | raw }}</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if (info.faq2Title is not null) %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq2">
                                            {{ info.faq2Title | raw }}</a>
                                    </h4>
                                </div>
                                <div id="faq2" class="panel-collapse collapse">
                                    <div class="panel-body">{{ info.faq2Text | raw }}</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if (info.faq3Title is not null) %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq3">
                                            {{ info.faq3Title | raw }}</a>
                                    </h4>
                                </div>
                                <div id="faq3" class="panel-collapse collapse">
                                    <div class="panel-body">{{ info.faq3Text | raw }}</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if (info.faq4Title is not null) %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq4">
                                            {{ info.faq4Title | raw }}</a>
                                    </h4>
                                </div>
                                <div id="faq4" class="panel-collapse collapse">
                                    <div class="panel-body">{{ info.faq4Text | raw }}</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if (info.faq5Title is not null) %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq5">
                                            {{ info.faq5Title | raw }}</a>
                                    </h4>
                                </div>
                                <div id="faq5" class="panel-collapse collapse">
                                    <div class="panel-body">{{ info.faq5Text | raw }}</div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-callToAction">
        <div class="container">
            <div style="padding-top: 60px; padding-bottom: 60px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container">
                            <div class="col-md-4 text-center">
                                <div class="text-right">
                                    <img src="/images/curved-next-arrow.svg" style="height:60px;" class="hidden-xs hidden-sm">
                                </div>
                                <div class="hidden-xs hidden-sm">
                                    <p class="text-left lead hidden-xs">
                                        <strong>Expressauftrag</strong> erteilen:
                                        <br>
                                        Erledigt am nächsten Arbeitstag
                                    </p>
                                </div>
                                <div class="visible-xs visible-sm">
                                    <p class="text-center lead visible-xs">
                                        <strong>Expressauftrag</strong> erteilen:
                                        <br>
                                        Erledigt am nächsten Arbeitstag
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <a
                                        id="headerSelectorBtn"
                                        class="btn btn-success btn-lg"
                                        type="button"
                                        href="/warenkorb/{{ service.urlName }}"
                                        style="font-size: 25px; white-space: normal ">
                                    Jetzt online beauftragen
                                </a>
                            </div>
                            <div class="col-md-4">
                                <img src="/images/curved-next-arrow.svg" style="height:60px; transform: scaleX(-1);" class="hidden-xs hidden-sm">
                                <div class="hidden-xs hidden-sm">
                                    <p class="text-right lead">
                                        Regulärer Preis: <del>{{ (lowestPrice) + 10 }},00€</del><br>
                                        <strong>Neukunden Aktion: {{ lowestPrice | replace({'.': ','}) }}€</strong><br>
                                        {% if feesIncluded %}
                                            <small><i>(Inkl. aller Amtsgebühren{% if fees is not null %} <br>ca. {{ fees | replace({'.': ','}) }}€{% endif %})</i></small>
                                        {% endif %}
                                        <br>
                                    </p>
                                </div>
                                <div class="visible-xs visible-sm">
                                    <p class="text-center lead"><br>
                                        Regulärer Preis: <del>{{ (lowestPrice) + 10 }},00€</del><br>
                                        <strong>Neukunden Aktion: {{ lowestPrice | replace({'.': ','}) }}€</strong><br>
                                        {% if feesIncluded %}
                                            <small><i>(Inkl. aller Amtsgebühren{% if fees is not null %} <br>ca. {{ fees | replace({'.': ','}) }}€{% endif %})</i></small>
                                        {% endif %}
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
