{% extends "::base.html.twig" %}

{% block body %}
<section class="section section-colored">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Checklisten</h2>
                <p class="lead">Welche Unterlagen werden für welchen Behördengang benötigt? Im folgenden haben wir Checklisten für Sie zusammengestellt, in denen Sie alle notwendigen Unterlagen finden</p>
                <br>
                <div class="row">
                    {% for key, checklist in checklists %}
                    <div class="panel">
                        <div class="panel-body">
                            <a href="/checklisten/{{ checklist.service.urlName }}"><div class="col-md-10">
                                <h4 class="">{{ checklist.name }}</h4>
                                </div></a>
                            {% if checklist.file %}
                                <a type="button" class="btn btn-primary btn-lg col-md-2" target="_blank"
                                   href="/files/checklist/{{ item.file }}"
                                >
                                    Download PDF
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
