{% extends "::base.html.twig" %}

{% block javascripts %}
    <script type="text/javascript">
        $('[data-toggle="popover"]').popover();
        $('[data-toggle="popover"]').on('click', function (e) {
            $('[data-toggle="popover"]').not(this).popover('hide');
        });
        var selectChecklist = function () {
            var checklistId = $('#checklistSelector').val();
            showOne(checklistId);
        };

        function showOne(id) {
            console.log(id);
            {% for checklist in checklists %}
            $('#checklist' + {{ checklist.id }}).hide();
            {% endfor %}
            $('#checklist' + id).show();
        }
    </script>
{% endblock %}

{% block body %}
<section class="section section-colored">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Checkliste {{ service.name }}</h2>
                {% if checklists | length > 1 %}
                    <p class="lead">In den folgenden Checklisten führen wir auf, welche Unterlagen für den Behördengang benötigt werden:</p>
                {% else %}
                    <p class="lead">In der folgenden Checkliste führen wir auf, welche Unterlagen für den Behördengang benötigt werden:</p>
                {% endif %}
                {% if checklists | length > 1 %}
                        <div class="input-group">
                            <div class="form-group">
                                <label for="checklistSelector" class="control-label">Checklisten</label>
                                <select id="checklistSelector" class="form-control" onchange="selectChecklist()">
                                    {% for key, checklist in checklists %}
                                        <option value="{{ checklist.id }}" {% if key == 0 %}selected{% endif %}>{{ checklist.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                {% endif %}
                <br>
                {% for key, checklist in checklists %}
                <div class="row checklists" id="checklist{{ checklist.id }}" {% if key != 0 %}style="display: none;"{% endif %}>
                    {% for item in checklist.items %}
                    <div class="panel">
                        <div class="panel-body">
                            <div class="col-md-10">
                                <h4 class="">{{ item.title }}</h4>
                                {% if item.info is not null %}
                                    <p class="">({{ item.info }})</p>
                                {% endif %}
                            </div>
                            {% if item.tooltip %}
                                <button type="button" class="btn btn-primary btn-lg col-md-2 popoverBtn" data-container="body" data-toggle="popover" data-placement="left"
                                        title="{{ item.title }}"
                                        data-content="{{ item.tooltip | raw }}">
                                    Details
                                </button>
                            {% endif %}
                            {% if item.file %}
                                <a type="button" class="btn btn-primary btn-lg col-md-2" target="_blank"
                                   href="/files/checklist/{{ item.file }}"
                                >
                                    Download
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                <br><br>
                <p class="lead text-center">Gerne übernehmen wir diesen Behördengang für Sie: <a href="/service/{{ service.urlName }}">Weitere Informationen</a></p>
            </div>
        </div>
    </div>
</section>
    <section class="section section-callToAction">
        <div class="container">
            <div style="padding-top: 60px; padding-bottom: 60px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container">
                            <div class="col-md-4 text-center">
                                <div class="text-right">
                                    <img src="/images/curved-next-arrow.svg" style="height:60px;" class="hidden-xs hidden-sm">
                                </div>
                                <div class="hidden-xs hidden-sm">
                                    <p class="text-left lead hidden-xs">
                                        <strong>Expressauftrag</strong> erteilen:
                                        <br>
                                        Erledigt am nächsten Arbeitstag
                                    </p>
                                </div>
                                <div class="visible-xs visible-sm">
                                    <p class="text-center lead visible-xs">
                                        <strong>Expressauftrag</strong> erteilen:
                                        <br>
                                        Erledigt am nächsten Arbeitstag
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <a
                                        id="headerSelectorBtn"
                                        class="btn btn-success btn-lg"
                                        type="button"
                                        href="/warenkorb/{{ service.urlName }}"
                                        style="font-size: 25px; white-space: normal ">
                                    Jetzt online beauftragen
                                </a>
                            </div>
                            <div class="col-md-4">
                                <img src="/images/curved-next-arrow.svg" style="height:60px; transform: scaleX(-1);" class="hidden-xs hidden-sm">
                                <div class="hidden-xs hidden-sm">
                                    <p class="text-right lead">
                                        Regulärer Preis: <del>{{ (service.lowestPrice) + 10 }},00€</del><br>
                                        <strong>Neukunden Aktion: {{ service.lowestPrice | replace({'.': ','}) }}€</strong><br>
                                        {% if service.feesIncluded %}
                                            <small><i>(Inkl. aller Amtsgebühren{% if service.fees is not null %} <br>ca. {{ service.fees | replace({'.': ','}) }}€{% endif %})</i></small>
                                        {% endif %}
                                        <br>
                                    </p>
                                </div>
                                <div class="visible-xs visible-sm">
                                    <p class="text-center lead"><br>
                                        Regulärer Preis: <del>{{ (service.lowestPrice) + 10 }},00€</del><br>
                                        <strong>Neukunden Aktion: {{ service.lowestPrice | replace({'.': ','}) }}€</strong><br>
                                        {% if service.feesIncluded %}
                                            <small><i>(Inkl. aller Amtsgebühren{% if service.fees is not null %} <br>ca. {{ service.fees | replace({'.': ','}) }}€{% endif %})</i></small>
                                        {% endif %}
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
